@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1a1a25;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
  margin: 0;
}

nav a {
  margin-left: 10px;
  color: white;
}

header a {
  color: white;
}

header,footer {
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 8px;
  padding: 0 10px;
}

.tweet-list {
  list-style: none;

  margin: 10px;
  padding: 0;

  overflow-x: hidden;
}

.tweet-list p {
  padding: 0;
  margin: 0;
}

.tweet-list--entry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 10px 0px #0000008c;

  background-color: #ffffffc7;
}

.tweet-list--entry--image {
  border-radius: 5px;
}

.tweet-list--entry--main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-left: 10px;

  flex-grow: 1;
}

.tweet-list--entry--username {
  font-weight: bold;
}

.tweet-list--entry--created {
  font-size: 10px;
}

.tweet-list--entry--header {
  display: flex;
  justify-content: space-between;
}

.tweet-list--entry {
  position: relative;

  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    left: 100%;
    opacity: 0.2;
  }

  to {
    left: 0%;
    opacity: 1;
  }
}
